@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Welcome!!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Online Course Portal provides a wide range of courses to help everyone gain knowledge.</p>
<p> Register as student to explore variety of courses.</p>
<p> You can also register as Instructor to share your valuable knowledge.</p>
