@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Welcome!!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="font-size:large"> Online Course Portal provides a wide range of courses to help everyone gain knowledge.</p>
<p style="font-size:large"> Register as student to explore variety of courses.</p>
<p style="font-size:large"> You can also register as Instructor to share your valuable knowledge.</p>
