@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Please feel free to contact us.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address style="font-size:large">
    Sri Navya YengannaGari<br />
    Online Course Portal<br />
    Overland Park, KS-66223<br />
    <abbr title="Phone">P:</abbr>
    425.444.1066
</address>

<address style="font-size:medium">
    <strong>Support:</strong>   <a href="mailto:Support@onlinecourseportal.com">Support@onlinecourseportal.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@onlinecourseportal.com">Marketing@onlinecourseportal.com</a>
</address>